/* Estilos Desktop XL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(78, 79, 87);
    width: 100%;
    height: 100vh;
}

.titulo {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}
.card{
    background: white;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid rgb(4, 43, 39);
}
.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-hover{
    position: relative;
}
.card-hover:hover .overlay{
    display: block;
}
.card p{
    margin: 1rem 0;
}
.btn{
    background: #d63031;
    color: white;
    padding: 0.4rem 0.8rem;
    text-align: center;
    border-radius: 100px;
    border: 0;
}

/* Estilos Desktop LG */
@media screen and (max-width:1024px) {

    .container {
        background-color: orange;
    }

    .titulo {
        color: orangered;
    }

}

/* Estilos Tablet */
@media screen and (max-width:768px) {

    .container {
        background-color: blueviolet;
    }

    .titulo {
        color: rgb(63, 19, 105);
    }

}

/* Estilos Mobile */
@media screen and (max-width:480px) {

    .container {
        background-color: yellowgreen;
    }

    .titulo {
        color: rgb(98, 131, 32);
    }

}

/* Estilos Mobile */
@media screen and (max-width:320px) {

    .container {
        background-color: brown;
    }

    .titulo {
        color: burlywood;
    }

}